### Parte 1
* Trabajar en un archivo llamado cuaderno1.ipynb
* Crear un conjunto de datos usando la librería https://faker.readthedocs.io/en/master/
* El número de registros que se debe generar es de 10000
* El conjunto de datoss tendrá las siguientes características:
    * Para cada registro usar las características: fake.name(), fake.last_name(), fake.email(), fake.address()
* Pasar los registros a un dataframe de pandas
* Agregar dos características más:
    * Edad, comprendidas entre 30 y 40 años
    * Provincia, entre las opciones (Loja, Pichincha, Guayas, Azuay, Manabí)
* Pasar el dataframe a un archivo csv

In [57]:
import pandas as pd
from faker import Faker

In [58]:
fake = Faker()
lista = []
for x in range(0, 10000):
    lista.append({'Nombre': fake.name(), 'Apellido':fake.last_name(), 'Correo':fake.email(), 'Direccion':fake.address() })

In [59]:
data = pd.DataFrame(lista)
data.head()

,Nombre,Apellido,Correo,Direccion
0,Karen Todd,Smith,jamesbrown@example.net,"PSC 4392, Box 9221\nAPO AP 59716"
1,Jeremy Carter,Fitzgerald,jfletcher@example.com,"561 Steven Inlet\nSouth Janet, WI 87012"
2,John Taylor,Parker,luke12@example.net,"99224 Samantha Garden Suite 182\nBrendashire, ..."
3,Belinda Dunn,Baker,shannon93@example.com,"98223 Stevenson Mountains\nSouth Nicholasview,..."
4,Jake Chapman,Johnson,cjones@example.org,Unit 3358 Box 6818\nDPO AA 17300

In [60]:
import random

In [61]:
provincias = ['Loja', 'Pichincha', 'Guayas', 'Azuay', 'Manabí']
edad_provincia = []
for x in range(0,10000):
    edad_provincia.append({'Edad':random.randint(30,40), 'Provincias':random.choices(provincias)[0]})

In [62]:
df = pd.DataFrame(edad_provincia)
df.head()

   Edad Provincias
0    35      Azuay
1    32     Manabí
2    40     Manabí
3    36  Pichincha
4    38       Loja

In [63]:
data = pd.concat([data,df], axis=1)
data.head()

,Nombre,Apellido,Correo,Direccion,Edad,Provincias
0,Karen Todd,Smith,jamesbrown@example.net,"PSC 4392, Box 9221\nAPO AP 59716",35,Azuay
1,Jeremy Carter,Fitzgerald,jfletcher@example.com,"561 Steven Inlet\nSouth Janet, WI 87012",32,Manabí
2,John Taylor,Parker,luke12@example.net,"99224 Samantha Garden Suite 182\nBrendashire, ...",40,Manabí
3,Belinda Dunn,Baker,shannon93@example.com,"98223 Stevenson Mountains\nSouth Nicholasview,...",36,Pichincha
4,Jake Chapman,Johnson,cjones@example.org,Unit 3358 Box 6818\nDPO AA 17300,38,Loja

In [64]:
data.to_csv("cuaderno.csv")